@font-face {
    font-family: 'Harrington';
    src: url('fonts/HARNGTON.woff2');
    font-weight: 400;
}

html,
body {
    background-color: rgba(200, 230, 201, 0.8);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* music */

#audioPlayer {
    position: fixed;
    bottom: 40px;
    right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    z-index: 50;
}

.btn-audio {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #565F7D;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.2s;
    padding: 0;
}

.btn-audio:hover {
    background-color: #454B63;
    transform: scale(1.05);
}

#icon-play img,
#icon-pause img {
    width: 28px;
    height: 28px;
}

#icon-pause {
    display: none;
}


/* music */

/* loader */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 230, 201, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #565F7D;
    animation: loader 1s infinite ease;
}

.loader-inner {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* loader */

div.container {
    max-width: 430px;
    width: 100dvw;
    height: auto;
    min-height: 100vh;
    background-color: black;
}

.content {
    display: none;
    opacity: 0;
    transition: opacity 420ms ease;
}

.content.show {
    display: block;
    opacity: 1;
}

section.opening {
    width: 100%;
    min-height: 100dvh;
    background-image: url('Image/satu.png');
    background-size: cover;
    padding: 0;
    margin: 0;

    .open {
        position: absolute;
        width: 89.5%;
        height: 63%;
        bottom: 11.8%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(200, 230, 201, 0.5);
        border-radius: 120px 120px 0 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    p {
        font-family: 'Poppins';
        font-size: 14.4px;
        margin: 0;
    }

    h1 {
        font-family: 'Playfair Display';
        font-weight: bold;
        color: #565F7D;
        font-size: 60px;
        line-height: 90%;
        margin: 12px 0 64px 0;
    }

    h4 {
        font-family: 'Playfair';
        font-weight: bold;
        color: #565F7D;
        font-size: 24px;
        margin: 4px 0 15px 0;
    }

    button {
        padding: 8px 30px;
        border-radius: 20px;
        border: none;
        background-color: #565F7D;
        color: #C8E6C9;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        font-family: 'Playfair Display';
        font-weight: bold;
    }

    /* a {
        text-decoration: none;
        color: inherit;
        font-family: 'Playfair';
        font-weight: bold;
    } */
}

div.decoration {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.openingoneandahalf {
    width: 100%;
    height: 576px;
    background-image: url('Image/opening1.5.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .openingoneandahalfq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: rgba(200, 230, 201, 0.8);
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .image {
        width: 52.3%;
        height: 51.91%;
        border: 4px solid #565F7D;
        border-radius: 120px;
        background-image: url('Image/bridegroom.jpg');
        background-size: cover;
        margin: 0 0 20px 0;
    }

    .teks {
        * {
            margin: 0;
        }
    }

    h2 {
        font-family: 'Playfair';
        color: #565F7D;
        font-size: 50px;
        font-weight: bold;
    }

    h3 {
        font-family: 'Playfair Display SC';
        font-size: 20px;
    }
}

.quotes {
    width: 100%;
    height: 576px;
    background-image: url('Image/quotes.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .qoutesq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 0 28px;
        margin: 0;
        box-sizing: border-box;
    }

    h4 {
        font-family: 'Playfair Display';
        font-weight: 400;
        font-size: 16px;
        margin: 0;
    }

    h3 {
        font-family: 'Playfair Display';
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
    }
}

.brideandgroom {
    width: 100%;
    height: 1293px;
    background-image: url('Image/brideandgroom.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .brideandgroomq {
        width: 84.88%;
        height: 91.42%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 8px;
    }

    .isi {
        width: 100%;
        height: 587px;
        background-color: rgba(200, 230, 201, 0.8);
        padding: 55px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    h2 {
        font-family: 'Harrington';
        font-size: 50px;
        font-weight: 400;
        color: #565F7D;
        margin: 0;
    }


    .image {
        width: 47.4%;
        height: 47.1%;
        border: 4px solid #565F7D;
        border-radius: 120px;
        background-position-x: center;
        background-size: cover;
        margin: 0;
        align-self: center;
        ;
    }

    .teks {
        * {
            margin: 0;
        }
    }

    h3 {
        font-family: 'Playfair Display';
        font-size: 24px;
        font-weight: 900;
        color: #565F7D;
        margin-bottom: 12px;
    }

    p {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14.4px;
    }

    button {
        padding: 8px 30px;
        border-radius: 20px;
        border: none;
        background-color: #565F7D;
        color: #C8E6C9;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        font-family: 'Playfair';
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }
}

.event {
    width: 100%;
    height: 726px;
    background-image: url('Image/event.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 55px 32px;
    box-sizing: border-box;

    .eventq {
        width: 100%;
        height: 100%;
        background-color: rgba(200, 230, 201, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;
        padding: 55px 32px;
        box-sizing: border-box;
        border-radius: 300px;
    }

    .isi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    img {
        margin: 0 0 6px 0;
    }

    h2 {
        margin: 0;
        font-size: 32px;
        font-family: 'Harrington';
        color: #565F7D;
    }

    h3 {
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 600;
    }

    h4 {
        font-family: 'Poppins';
        font-weight: 14.4px;
        font-weight: 600;
    }

    p {
        font-family: 'Poppins';
        font-weight: 14.4px;
        font-weight: 400;
    }

    * {
        margin: 0;
    }

    button {
        padding: 8px 30px;
        border-radius: 20px;
        border: none;
        background-color: #565F7D;
        color: #C8E6C9;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        font-family: 'Playfair Display';
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.countdown {
    width: 100%;
    height: 726px;
    background-image: url('Image/repeatbackground.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 55px 32px;
    box-sizing: border-box;

    .countdownq {
        width: 100%;
        height: 100%;
        background-color: rgba(200, 230, 201, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;
        padding: 55px 32px;
        box-sizing: border-box;
        border-radius: 300px;

        * {
            margin: 0;
        }
    }

    h2 {
        margin: 0;
        font-size: 32px;
        font-family: 'Harrington';
        color: #565F7D;
    }

    p {
        font-family: 'Poppins';
        font-weight: 14.4px;
        font-weight: 400;
    }

    button {
        padding: 8px 30px;
        border-radius: 20px;
        border: none;
        background-color: #565F7D;
        color: #C8E6C9;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        font-family: 'Playfair Display';
        font-weight: bold;
    }
}

/* countdown */
.countdownbox {
    display: flex;
    flex-direction: row;
    gap: 16px;
    box-sizing: border-box;
}

.box {
    background-color: #565F7D;
    width: 59px;
    height: 59px;
    border-radius: 10px;
    gap: -6px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    * {
        margin: 0;
    }

    p {
        font-family: 'Harrington';
        color: #C8E6C9;
        font-size: 24px;
    }

    span {
        font-family: 'Harrington';
        color: #C8E6C9;
        font-size: 18px;
    }
}

/* countdown */

.maps {
    width: 100%;
    height: 726px;
    background-image: url(Image/repeatbackground.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 55px 32px;
    box-sizing: border-box;

    .mapsq {
        width: 100%;
        height: 100%;
        background-color: rgba(200, 230, 201, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;
        padding: 55px 32px;
        box-sizing: border-box;
        border-radius: 300px;
    }

    h2 {
        margin: 0;
        font-size: 32px;
        font-family: 'Harrington';
        color: #565F7D;
    }

    h3 {
        font-family: 'Playfair Display';
        font-size: 20px;
        font-weight: 600;
        margin: 0;
    }

    p {
        font-family: 'Poppins';
        font-weight: 14.4px;
        font-weight: 400;
        margin: 0;
    }

    button {
        padding: 8px 30px;
        border-radius: 20px;
        border: none;
        background-color: #565F7D;
        color: #C8E6C9;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        font-family: 'Playfair Display';
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

}

.galeri {
    width: 100%;
    height: 900px;

    div {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
    }
}

.thanks {
    width: 100%;
    height: 726px;
    background-image: url(Imagewebp/1_20250919_151538_0000.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 55px 32px;
    box-sizing: border-box;

    .thanksq {
        width: 100%;
        height: 100%;
        background-color: rgba(200, 230, 201, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;
        padding: 55px 32px;
        box-sizing: border-box;
        border-radius: 300px;
    }

    h2 {
        margin: 0;
        font-size: 32px;
        font-family: 'Harrington';
        color: #565F7D;
    }

    p {
        font-family: 'Poppins';
        font-weight: 14.4px;
        font-weight: 400;
        margin: 0;
    }

    button {
        padding: 8px 30px;
        border-radius: 20px;
        border: none;
        background-color: #565F7D;
        color: #C8E6C9;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        font-family: 'Playfair Display';
        font-weight: bold;
    }

    .salin {
        border-radius: 4px;
    }

    .isi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    h3 {
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 600;
        margin: 0;
    }

    h4 {
        font-family: 'Playfair';
        font-weight: bold;
        color: #565F7D;
        font-size: 24px;
        margin: 0;
    }

    .bank {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .image {
        width: 70px;
        height: 50px;
        background-color: black;
    }

    .ket {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .kirimkado {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        text-align: start;
    }

    .cashless-div,
    .kirimkado {
        display: none;
    }

    .show {
        display: flex;
    }
}